[buildout]
parts =
	filestorage
	zc1
	zc2
	zc3
	zc4
	zcdebug
	checkinterval

extends =
	sources.cfg
  http://dist.plone.org/release/5.1.2/versions.cfg
	deploy/zope-default.cfg
  customizeme.cfg
  versions.cfg

versions = versions

find-links = http://pypi.upc.edu/links

eggs =
	ulearn5.core
	ulearn5.theme
	ulearn5.upc
	ulearn5.owncloud
	base5.core
	base5.portlets
	ulearn5.js
	mrs5.max
	max5.client
	hub5.client
	pas.plugins.preauth
	pas.plugins.owncloud
	pas.plugins.osiris5
	Products.PloneLDAP

# network speedup
socket-timeout = 3
allow-hosts =
  pypi.upc.edu
	*.python.org
  *.pypi.org
  *.pythonhosted.org
  pypi.org
  docutils.sourceforge.net
  prdownloads.sourceforge.net
  effbot.org
